BACKEND_IMAGE=ghcr.io/zaiwuli/article_add:latest
FRONTEND_IMAGE=ghcr.io/zaiwuli/article_add-web:latest

POSTGRES_DB=article_add
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BACKEND_PORT=8000
FRONTEND_PORT=80
TZ=Asia/Shanghai

DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/article_add
PROXY=
FLARE_SOLVERR_URL=
